# start

NetRange:       8.0.0.0 - 8.255.255.255
CIDR:           8.0.0.0/8
NetName:        LVLT-ORG-8-8
NetHandle:      NET-8-0-0-0-1
Parent:          ()
NetType:        Direct Allocation
OriginAS:       
Organization:   Level 3 Communications, Inc. (LVLT)
RegDate:        1992-12-01
Updated:        2012-02-24
Ref:            https://whois.arin.net/rest/net/NET-8-0-0-0-1




person:         Oleksii V Yaroshenko
address:        Prirechnaya 25a
address:        Kiev
address:        Ukraine
phone:          +380 97 437 27 17
nic-hdl:        OVY5-RIPE
abuse-mailbox:  abuse@triolan.com.ua
mnt-by:         TRIOLANMNT
created:        2016-08-30T12:25:29Z
last-modified:  2016-12-23T08:43:03Z
source:         RIPE # Filtered

% Information related to '109.87.2.0/24AS13188'

route:          109.87.2.0/24
descr:          Triolan, Kharkiv
origin:         AS13188
mnt-by:         SALTOVKAMNT
created:        2016-10-19T13:00:59Z
last-modified:  2016-10-19T13:00:59Z
source:         RIPE

% This query was served by the RIPE Database Query Service version 1.88 (HEREFORD)








OrgName:        Level 3 Communications, Inc.
OrgId:          LVLT
Address:        1025 Eldorado Blvd.
City:           Broomfield
StateProv:      CO
PostalCode:     80021
Country:        US
RegDate:        1998-05-21
Updated:        2017-01-28
Comment:        ADDRESSES WITHIN THIS BLOCK ARE NON-PORTABLE
Ref:            https://whois.arin.net/rest/org/LVLT
http://ipplan-replica.np.ua/user/modifyipform.php?ip=183564300&baseindex=1045 LO
http://ipplan-replica.np.ua/user/displaysubnet.php?baseindex=3908 Base NET

OrgNOCHandle: NOCSU27-ARIN
OrgNOCName:   NOC Support
OrgNOCPhone:  +1-877-453-8353 
OrgNOCEmail:  noc.coreip@level3.com
OrgNOCRef:    https://whois.arin.net/rest/poc/NOCSU27-ARIN

OrgAbuseHandle: APL8-ARIN
OrgAbuseName:   Abuse POC LVLT
OrgAbusePhone:  +1-877-453-8353 
OrgAbuseEmail:  abuse@level3.com
OrgAbuseRef:    https://whois.arin.net/rest/poc/APL8-ARIN

OrgTechHandle: IPADD5-ARIN
OrgTechName:   ipaddressing
OrgTechPhone:  +1-877-453-8353 
OrgTechEmail:  ipaddressing@level3.com
OrgTechRef:    https://whois.arin.net/rest/poc/IPADD5-ARIN

# end


# start

NetRange:       8.8.8.0 - 8.8.8.255
CIDR:           8.8.8.0/24
NetName:        LVLT-GOGL-8-8-8
NetHandle:      NET-8-8-8-0-1
Parent:         LVLT-ORG-8-8 (NET-8-0-0-0-1)
NetType:        Reallocated
OriginAS:       
Organization:   Google Inc. (GOGL)
RegDate:        2014-03-14
Updated:        2014-03-14
Ref:            https://whois.arin.net/rest/net/NET-8-8-8-0-1



OrgName:        Google Inc.
OrgId:          GOGL
Address:        1600 Amphitheatre Parkway
City:           Mountain View
StateProv:      CA
PostalCode:     94043
Country:        US
RegDate:        2000-03-30
Updated:        2017-01-28
Ref:            https://whois.arin.net/rest/org/GOGL


OrgTechHandle: ZG39-ARIN
OrgTechName:   Google Inc
OrgTechPhone:  +1-650-253-0000 
OrgTechEmail:  arin-contact@google.com
OrgTechRef:    https://whois.arin.net/rest/poc/ZG39-ARIN

OrgAbuseHandle: ABUSE5250-ARIN
OrgAbuseName:   Abuse
OrgAbusePhone:  +1-650-253-0000 
OrgAbuseEmail:  network-abuse@google.com
OrgAbuseRef:    https://whois.arin.net/rest/poc/ABUSE5250-ARIN

# end


