# start

NetRange:		$Network$ - $Broadcast$
CIDR:			$RegionCIDR$
RegName:		$Descrip$
RegionID:		$RegionID$
NetType:		Direct Allocation
Organization:		Nova Poshta Uraine LTD
Updated:		$Lastmod$
Ref:			http://ipplan-replica.np.ua/user/displaybase.php?cust=$Customer$&areaindex=$AreaIndex$&rangeindex=$RangeIndex$

NetRange:		$WhNetwork$ - $WhBroadcast$
CIDR:			$WhCIDR$
NetName:		$WhDescrip$
Parent:			$Descrip$
NetType:		Reassigned
Organization:		Nova Poshta Uraine LTD
Ref:			http://ipplan-replica.np.ua/user/displaysubnet.php?baseindex=$BaseIndex$

WhName:			$WarehouseName$
WhAddress:		$WarehouseAddress$
WhNumber:		$Number$
WhType:			$WhType$
ChiefName:		$ChiefName$
IntPhone:		$IntPhone$
WhPhone:		$WhPhone$
Latitude:		$Latitude$
Longitude:		$Longitude$
Code1C:			$Code1C$
Country:		UA
CertName:		$CertName$
MikrotikIP:		$IP$
Status:			$Status$
Updated:		$LastMod$
Ref:			http://ipplan-replica.np.ua/user/displaysubnet.php?baseindex=$BaseIndex$

OrgNOCName:		NOC Support
OrgNOCPhone:		+380-067-00-00
OrgNOCEmail:		noc@novaposhta.ua
OrgNOCRef:		http://sd.np.ua

# end